@use '@/app/styles/mixins' as *

.slider
	width: 100%
	height: auto

.slide
	display: flex !important
	justify-content: center

.brand
	position: relative
	width: 24vw
	height: 24vw
	max-width: 140px
	max-height: 140px
	//padding: 0.5rem
	//color: var(--white-color)
	background-color: var(--light-grey-color)
	border-radius: 50rem
	overflow: hidden
	cursor: pointer
	img
		object-fit: contain
		padding: 1.2rem

	+media-min(sm)
		width: 14vw
		height: 14vw
		max-width: 160px
		max-height: 160px

	+media-min(xl)
		width: 11vw
		height: 11vw

	+media-min(xxl)
		width: 9vw
		height: 9vw
