.scroll_to_top
	position: sticky
	bottom: var(--page-padding)
	right: var(--page-padding)
	margin-left: auto
	border-radius: 50% !important
	background-color: transparentize(white, 0.5) !important
	transition: all 300ms cubic-bezier(.07, .19, .3, 1.03), visibility 1000ms
	transform: translate(100px, 0)
	opacity: 0
	svg
		transition: transform 200ms
		transform: scale(0.8)

	&.visible
		opacity: 1
		transform: none

	&:hover
		background-color: var(--secondary-color) !important
		svg
			transform: scale(1)
		path
			stroke: currentColor
