:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
	"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
	"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--font-family-secondary: 'Montserrat', sans-serif;

	--page-background-color: 254, 254, 254;
	--white-color: #FEFEFE;
	--black-color: #22201E;
	--grey-color: #737681;
	--primary-color: #478631;
	--secondary-color: #A3C626;
	--grey-color-alpha: 70, 74, 84;

	--text-color: rgba(var(--grey-color-alpha), 0.7);
	--link-color: var(--primary-color);
	--navbar-link-color: var(--black-color);
	--border-color-default: var(--grey-color);

	--paragraph-container-max-width: 900px;
	--container-max-width: 1400px;
	--line-height-title: 1.25;
	--line-height-paragraph: 1.5;
	--page-padding: clamp(1.2rem, 0.6rem + 3vw, 3rem);
	--modal-padding: clamp(1rem, 0.5rem + 1.5vw, 2rem);
	--gap: 1rem;
	--controls-height: 2.4rem;
	--icon-size-xs: 1rem;
	--icon-size-sm: 1.8rem;
	--icon-size-md: 2.4rem;
	--icon-size-lg: 3.2rem;
	--border-radius-index: 0.5;
	--border-radius-button: 1.2rem;
	--border-radius-default: 0px;
	--border-thickness: 3px;
	--box-shadow: rgb(0 0 0 / 20%);
	--overlay-bg-color: rgb(0 0 0 / 20%);
	--overlay-z-index: 100;
	--translate-y-in-view: 3rem;
}

html * /* override x.xhtml.ru style */
{
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
	border-radius: 5px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.25;
	user-select: none;
}

html {
	font-size: 15px;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: rgba(var(--grey-color-alpha), 1);
	background: var(--white-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--grey-color);

}

.logo {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 1;
}

.burger {
	position: absolute;
	top: 1em;
	right: 1em;
	color: var(--secondary-color) !important;
	z-index: 2;
}

main {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);

}

h1 {
	position: relative;
	margin: 0;
	/*background: linear-gradient(to bottom, rgb(var(--page-background-color), 1), rgb(var(--page-background-color), 0));*/
	color: var(--secondary-color);
	font-family: var(--font-family-secondary);
	line-height: var(--line-height-title);
	font-size: clamp(2rem, 1.2rem + 2vw, 3rem);
	text-transform: uppercase;
	word-break: break-word;
	z-index: 20;
}

h2 {
	margin-top: 6px;
	color: var(--secondary-color);
	font-family: var(--font-family-secondary);
	font-size: clamp(1.6rem, 1rem + 1.8vw, 2.6rem);
	line-height: var(--line-height-title);
	text-transform: uppercase;
	word-break: break-word;
	font-weight: bold;
}

h3 {
	color: var(--secondary-color);
	font-family: var(--font-family-secondary);
	font-size: clamp(1.3rem, 1rem + 0.8vw, 1.8rem);
	line-height: var(--line-height-title);
	text-transform: uppercase;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding-bottom: 0.5em;
	font-size: 1em;
	line-height: var(--line-height-paragraph);
}

.grey__style {
	background-color: rgba(var(--grey-color-alpha), 0.2);
}

.green__style {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.scrollable {
	&::after {
		background: linear-gradient(to top, rgb(var(--page-background-color), 1), rgb(var(--page-background-color), 0));
		transition: opacity 300ms ease-out;
		pointer-events: none;
		opacity: 1 !important;
	}
	> div {
		padding-bottom: var(--gap);
	}
}

@media (min-width: 576px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 17px;
	}
}
