:root {
	--page-background-color: 254, 254, 254;
	--white-color: #fefefe;
	--black-color: #22201e;
	--grey-color: #737681;
	--light-grey-color: #DFDFDFFF;
	--primary-color: #478631;
	--secondary-color: #a3c626;
	--primary-color-alpha: 71, 134, 49;
	--secondary-color-alpha: 163, 198, 38;
	--grey-color-alpha: 70, 74, 84;

	--text-color: rgba(var(--grey-color-alpha), 0.7);
	--link-color: var(--primary-color);
	--navbar-link-color: var(--black-color);
	--border-color-default: var(--grey-color);

	--paragraph-container-max-width: 1200px;
	--container-max-width: 1400px;
	--line-height-title: 1.25;
	--line-height-paragraph: 1.5;
	--page-padding: clamp(1rem, 0.2rem + 4vw, 4rem);
	--modal-padding: clamp(1.4rem, 0.5rem + 2vw, 2rem);
	--gap: 1rem;
	--controls-height: 2.4rem;
	--controls-width: clamp(3.2rem, 2.8rem + 0.8vw, 4rem);
	--slider-controls-width: 3.2rem;
	--icon-size-xs: 1.2em;
	--icon-size-sm: 1.6em;
	--icon-size-md: 2.0em;
	--icon-size-lg: 2.6em;
	--border-radius-index: 0.5;
	--border-radius: clamp(1.5em, 3vw, 2.5em);
	--border-radius-button: 1.2em;
	--border-radius-default: 0px;
	--border-thickness: 3px;
	--box-shadow: rgb(0 0 0 / 20%);
	--overlay-bg-color: rgb(0 0 0 / 20%);
	--overlay-z-index: 100;
	--translate-y-in-view: 3em;

	@media (min-width: 768px) {
		--slider-controls-width: 4.2rem;
	}
}


html * /* override x.xhtml.ru style */
{
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
	border-radius: 1rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.25;
	user-select: none;
}

img:not([src]):not([srcset]) {
	display: none;
}

html {
	font-size: 15px;

	@media (min-width: 576px) {
		font-size: 16px;
	}

	@media (min-width: 768px) {
		font-size: 17px;
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: rgba(var(--grey-color-alpha), 0.85);
	background: var(--white-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--grey-color);
}

.logo {
	position: absolute;
	top: 1.2em;
	left: 1em;
	width: 24%;
	height: 75px;
	max-width: 150px;
	z-index: 1;
}

.burger {
	position: absolute;
	top: 2em;
	right: 2em;
	font-size: 0.8rem;
	color: var(--white-color) !important;
	background-color: var(--grey-color) !important;
	z-index: 2;
	@media (min-width: 576px) {
		font-size: 1rem;
	}
}

main {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
}

h1 {
	position: relative;
	margin: 0;
	/*background: linear-gradient(to bottom, rgb(var(--page-background-color), 1), rgb(var(--page-background-color), 0));*/
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), sans-serif;
	line-height: var(--line-height-title);
	font-size: clamp(1.7rem, 0.8rem + 2vw, 3rem);
	text-transform: uppercase;
	word-break: break-word;
	z-index: 20;
}

h2 {
	margin-top: 6px;
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), sans-serif;
	font-size: clamp(1.5rem, 0.8rem + 1.8vw, 2.4rem);
	line-height: var(--line-height-title);
	margin-bottom: 0.9rem;
	word-break: break-word;
}

h3 {
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), serif;
	font-size: clamp(1.3rem, 0.8rem + 0.8vw, 1.6rem);
	line-height: var(--line-height-title);
	margin-bottom: 0.75rem;
	text-transform: uppercase;
}

h4 {
	padding-bottom: 1rem;
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), serif;
	font-size: 1.2rem;
	line-height: var(--line-height-paragraph);
	margin-bottom: 0.65rem;
}

h5 {
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), serif;
	line-height: var(--line-height-paragraph);
	margin-bottom: 0.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding-bottom: 0.75em;
	font-size: 1em;
	line-height: var(--line-height-paragraph);
}

ul {
	margin-left: 30px;
	padding-bottom: 0.75em;
}

li {
	padding-bottom: 0.5em;
	padding-left: 5px;
	line-height: var(--line-height-paragraph);
}

blockquote {
	margin: var(--gap) 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	font-size: clamp(1rem, 0.8rem + 0.5vw, 1.2rem);
	overflow: hidden;

	> * {
		display: inline-block;
		padding: 0.6rem 1.2rem;
		border-radius: 0.8rem;
		border: var(--border-thickness) solid var(--secondary-color);
	}
}

.html-container {
	> * {
		width: 100%;
	}

	// margin-bottom: calc(var(--gap) * 4);
	.table {
		margin: calc(var(--gap) + 4vw) 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.html-container, .table tbody {
	display: flex;
	flex-direction: column;
}

.table {
	table {
		display: block;
	}

	tbody {
		gap: calc(var(--gap) + 2vw);
	}
}

.table tr {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--page-padding);

	@media (min-width: 992px) {
		flex-wrap: wrap;
		flex-direction: unset;
		.media-grid, .video-wrapper {
			flex: 1 0 50% !important;
			max-width: 50%;
		}
	}

	> *:nth-child(odd) {
		flex: 1;
	}

	> *:nth-child(even) {
		flex: 1;
	}
}

.image {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;

	img {
		object-fit: contain;
		border-radius: var(--border-radius);
		overflow: hidden;
		animation: loaded 300ms ease-out;
		@keyframes loaded {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

.media-grid {
	display: grid;
	//grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 1.5vw;
	width: 100%;
	height: max-content;
	order: 1;

	.image {
		width: 100% !important;
		height: 0;
		padding-top: 100%;
	}

	@media (min-width: 768px) {
		order: unset;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

td:not(.media-grid) > .image img {
	opacity: 0;
	transition: opacity 300ms ease-out;
	position: relative !important;
	height: auto !important;
}

[poster] {
	display: inline-flex;
	cursor: pointer;
}

.grey__style {
	background-color: var(--light-grey-color);

	h2 {
		color: var(--black-color) !important;
	}
}

.darkgrey__style {
	background-color: rgba(var(--grey-color-alpha), 1);

	h2 {
		color: var(--white-color) !important;
	}
}

.green__style {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.scrollable {
	&::after {
		background: linear-gradient(
						to top,
						rgb(var(--page-background-color), 1),
						rgb(var(--page-background-color), 0)
		);
		transition: opacity 300ms ease-out;
		pointer-events: none;
		opacity: 1 !important;
	}

	> div {
		padding-bottom: var(--gap);
	}
}
