@use "./styles/mixins" as *;

:root {
	--page-background-color: 254, 254, 254;
	--primary-color: #0d47a1;
	--secondary-color: #00bfa5;

	--blue-color: #0d47a1;
	--blue-2-color: #2962ff;
	--blue-3-color: #2979ff;
	--cyan-color: #00bfa5;
	--cyan-2-color: #1de9b6;
	--cyan-3-color: #64ffda;
	--white-color: #fefefe;
	--black-color: #131a2d;
	--grey-color: #737681;
	--light-grey-color: #DFDFDFFF;

	--primary-color-alpha: 13, 71, 161;
	--secondary-color-alpha: 0, 191, 165;
	--grey-color-alpha: 70, 74, 84;

	--text-color: rgba(var(--grey-color-alpha), 0.7);
	--link-color: var(--cyan-color);
	--navbar-link-color: var(--black-color);
	--border-color-default: var(--cyan-color);

	--paragraph-container-max-width: 1200px;
	--container-max-width: 1400px;
	--line-height-title: 1.25;
	--line-height-paragraph: 1.5;
	--page-padding: clamp(1rem, 0.2rem + 4vw, 4rem);
	--modal-padding: clamp(1.4rem, 0.5rem + 2vw, 2rem);
	--gap: 1rem;
	--controls-height: 2.4rem;
	--controls-width: clamp(3.2rem, 2.8rem + 0.8vw, 4rem);
	--slider-controls-width: 3.2rem;
	--icon-size-xs: 0.8em;
	--icon-size-sm: 1em;
	--icon-size-md: 1.6em;
	--icon-size-lg: 2.4em;
	--border-radius-index: 0.5;
	--border-radius: clamp(1.4rem, 3vw, 2.2rem);
	--border-radius-button: 1.2rem;
	--border-radius-default: 0px;
	--border-thickness: 3px;
	--box-shadow: rgb(0 0 0 / 20%);
	--overlay-bg-color: 0, 0, 0;
	--overlay-z-index: 100;
	--translate-y-in-view: 3em;

	@media (min-width: 768px) {
		--slider-controls-width: 4.2rem;
	}
}


html * /* override x.xhtml.ru style */
{
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
	--webkit-scrollbar-color: var(--secondary-color);
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
	border-radius: 1rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.25;
	user-select: none;
}

img:not([src]):not([srcset]) {
	display: none;
}

html {
	scroll-behavior: smooth;
	font-size: 15px;

	@media (min-width: 576px) {
		font-size: 16px;
	}

	@media (min-width: 768px) {
		font-size: 17px;
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: rgba(var(--grey-color-alpha), 0.85);
	background: var(--white-color);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.logo {
	position: absolute;
	top: 1.6em;
	left: 1.6em;
	width: auto;
	height: 4em;
	z-index: 1;

	img {
		width: auto;
		height: 100%;
	}

	@media (min-width: 768px) {
		height: 4.5rem;
	}

	@media (min-width: 1200px) {
		height: 5rem;
	}
}

main {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	position: relative;
	margin: 0;
	/*background: linear-gradient(to bottom, rgb(var(--page-background-color), 1), rgb(var(--page-background-color), 0));*/
	color: var(--secondary-color);
	font-family: var(--font-family-primary), serif;
	line-height: var(--line-height-title);
	font-size: clamp(1.7rem, 0.8rem + 2vw, 3rem);
	font-weight: 900;
	text-transform: uppercase;
	word-break: break-word;
	z-index: 20;
}

h2 {
	margin-top: 6px;
	color: var(--primary-color);
	font-weight: 900;
	font-family: var(--font-family-primary), serif;
	font-size: clamp(1.5rem, 0.8rem + 1.6vw, 2.4rem);
	line-height: var(--line-height-title);
	margin-bottom: 0.9rem;
	word-break: break-word;
}

h3 {
	color: var(--primary-color);
	font-family: var(--font-family-primary), serif;
	font-size: clamp(1.3rem, 0.8rem + 0.8vw, 1.4rem);
	line-height: var(--line-height-title);
	margin-bottom: 0.75rem;
	text-transform: uppercase;
}

h4 {
	padding-bottom: 1rem;
	color: var(--primary-color);
	font-family: var(--font-family-primary), serif;
	font-size: 1.2rem;
	line-height: var(--line-height-paragraph);
	margin-bottom: 0.65rem;
}

h5 {
	color: var(--primary-color);
	font-family: var(--font-family-primary), serif;
	line-height: var(--line-height-paragraph);
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

a svg {
	color: var(--primary-color);
}

p {
	padding-bottom: 0.75em;
	font-size: 1em;
	line-height: var(--line-height-paragraph);
}

ul, ol {
	padding-left: 20px;
	padding-bottom: 0.75em;
}

li {
	padding-bottom: 0.5em;
	padding-left: 5px;
	line-height: var(--line-height-paragraph);
}

blockquote {
	margin: var(--gap) 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	font-size: clamp(1rem, 0.8rem + 0.5vw, 1.2rem);
	overflow: hidden;

	> * {
		display: inline-block;
		padding: 0.6rem 1.2rem;
		border-radius: 0.8rem;
		border: var(--border-thickness) solid var(--secondary-color);
	}
}

.html-container {
	> div > * {
		width: 100%;
	}

	// margin-bottom: calc(var(--gap) * 4);
	.table {
		margin: calc(var(--gap) + 4vw) 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.html-container, .table tbody {
	display: flex;
	flex-direction: column;
}

.table {
	table {
		display: block;
	}

	tbody {
		gap: calc(var(--gap) + 2vw);
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.table tr {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--page-padding);

	@media (min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: unset;

		.media-grid, .video-grid {
			flex: 1;
			max-width: 50%;
		}
		.video-grid {
			max-width: 100%;
		}
	}

	> td {
		flex: 1;
		max-width: 100%;
	}
}

.video {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	max-height: 95vh;
	margin: auto;

	&.landscape {
		.video-player {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.portrait {
		max-width: max-content;
		height: 100%;
		@media (min-width: 768px) {
			height: max-content;
		}

		.video-player {
			height: auto;
		}
	}
}

.image {
	position: relative;
	display: flex;
	width: 100%;
	pointer-events: none;
}

.video, .image {
	border-radius: var(--border-radius);
	overflow: hidden;

	&::before {
		@include pseudo(absolute);
		background-color: var(--light-grey-color);
	}
}

.media-grid {
	display: grid;
	//grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 1.5vw;
	width: 100%;
	height: max-content;
	order: 1;

	.image {
		padding-top: 100% !important;
	}

	@media (min-width: 768px) {
		order: unset;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grey__style {
	background-color: var(--light-grey-color);

	h2 {
		color: var(--black-color) !important;
	}
}

.darkgrey__style {
	background-color: rgba(var(--grey-color-alpha), 1);

	h2 {
		color: var(--white-color) !important;
	}
}

.green__style {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.scrollable {
	&::after {
		background: linear-gradient(
						to top,
						rgb(var(--page-background-color), 1),
						rgb(var(--page-background-color), 0)
		);
		transition: opacity 300ms ease-out;
		pointer-events: none;
		opacity: 1 !important;
	}

	> div {
		padding-bottom: var(--gap);
	}
}

.b24-form {
	overflow: hidden;
}

.b24-form-btn {
	background-color: var(--secondary-color) !important;
	border-radius: var(--border-radius-button) !important;
}

.b24-form-wrapper.b24-form-border-bottom {
	border-bottom: none !important;
}

