:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
	'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
	'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--font-family-secondary: 'Montserrat', sans-serif;

	--page-background-color: 254, 254, 254;
	--white-color: #fefefe;
	--black-color: #22201e;
	--grey-color: #737681;
	--light-grey-color: #DFDFDFFF;
	--primary-color: #478631;
	--secondary-color: #a3c626;
	--grey-color-alpha: 70, 74, 84;

	--text-color: rgba(var(--grey-color-alpha), 0.7);
	--link-color: var(--primary-color);
	--navbar-link-color: var(--black-color);
	--border-color-default: var(--grey-color);

	--paragraph-container-max-width: 1200px;
	--container-max-width: 1400px;
	--line-height-title: 1.25;
	--line-height-paragraph: 1.5;
	--page-padding: clamp(2.6rem, 2.2rem + 2vw, 4rem);
	--modal-padding: clamp(1.6rem, 0.5rem + 2vw, 2rem);
	--gap: 1rem;
	--controls-height: 2.4rem;
	--icon-size-xs: 1.2rem;
	--icon-size-sm: 1.8rem;
	--icon-size-md: 2.4rem;
	--icon-size-lg: 3.2rem;
	--border-radius-index: 0.5;
	--border-radius: clamp(1.5rem, 15%, 2.5rem);
	--border-radius-button: 1.2rem;
	--border-radius-default: 0px;
	--border-thickness: 3px;
	--box-shadow: rgb(0 0 0 / 20%);
	--overlay-bg-color: rgb(0 0 0 / 20%);
	--overlay-z-index: 100;
	--translate-y-in-view: 3rem;
}

html * /* override x.xhtml.ru style */
{
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
	border-radius: 1rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.25;
	user-select: none;
}

img:not([src]):not([srcset]) {
	display: none;
}

img[src]::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--page-background-color));
}

html {
	font-size: 15px;

	@media (min-width: 576px) {
		font-size: 16px;
	}

	@media (min-width: 768px) {
		font-size: 17px;
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: rgba(var(--grey-color-alpha), 1);
	background: var(--white-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--grey-color);
}

.logo {
	position: absolute;
	top: 1.2rem;
	left: 1rem;
	width: 24%;
	height: 75px;
	max-width: 150px;
	z-index: 1;
}

.burger {
	position: absolute;
	top: 2rem;
	right: 1rem;
	color: var(--secondary-color) !important;
	z-index: 2;
}

main {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
}

h1 {
	position: relative;
	margin: 0;
	/*background: linear-gradient(to bottom, rgb(var(--page-background-color), 1), rgb(var(--page-background-color), 0));*/
	color: var(--secondary-color);
	font-family: var(--font-family-secondary);
	line-height: var(--line-height-title);
	font-size: clamp(1.8rem, 0.9rem + 2vw, 3rem);
	text-transform: uppercase;
	word-break: break-word;
	z-index: 20;
}

h2 {
	margin-top: 6px;
	color: var(--secondary-color);
	font-family: var(--font-family-secondary);
	font-size: clamp(1.6rem, 0.9rem + 1.8vw, 2.4rem);
	line-height: var(--line-height-title);
	word-break: break-word;
	font-weight: bold;
}

h3 {
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), serif;
	font-size: clamp(1.4rem, 0.9rem + 0.8vw, 1.6rem);
	line-height: var(--line-height-title);
	text-transform: uppercase;
	font-weight: 500;
}

h4 {
	padding-bottom: 1rem;
	color: var(--secondary-color);
	font-family: var(--font-family-secondary), serif;
	font-size: 1.2rem;
	line-height: var(--line-height-paragraph);
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding-bottom: 0.75em;
	font-size: 1em;
	line-height: var(--line-height-paragraph);
}

ul {
	margin-left: 30px;
}

ul > li {
	@extend p;
	padding-left: 10px;
}

.page-content, .table {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) * 4);
	@media (min-width: 1200px) {
		gap: calc(var(--gap) * 6);
	}
}

.table > * {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--page-padding);

	@media (min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: unset;
		.media-grid, .video-wrapper {
			flex: 0 1 40% !important
		}
	}

	@media (min-width: 1400px) {
		.media-grid, .video-wrapper {
			flex: 1 !important
		}
	}

	> *:nth-child(odd) {
		flex: 1;
	}

	> *:nth-child(even) {
		flex: 1;
	}
}

.media-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--modal-padding);
	width: 100%;
	height: max-content;
	order: 1;

	@media (min-width: 768px) {
		order: unset;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}

.image-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	border-radius: var(--border-radius);
	overflow: hidden;
}

[poster] {
	display: inline-flex;
}

.grey__style {
	background-color: var(--light-grey-color);

	h2 {
		color: var(--black-color) !important;
	}
}

.darkgrey__style {
	background-color: rgba(var(--grey-color-alpha), 1);

	h2 {
		color: var(--white-color) !important;
	}
}

.green__style {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.scrollable {
	&::after {
		background: linear-gradient(
						to top,
						rgb(var(--page-background-color), 1),
						rgb(var(--page-background-color), 0)
		);
		transition: opacity 300ms ease-out;
		pointer-events: none;
		opacity: 1 !important;
	}

	> div {
		padding-bottom: var(--gap);
	}
}
