@use "@/app/styles/mixins" as *


.drawer
	--radius: 0

	+push--fixed()
	background-color: rgba(var(--overlay-bg-color), var(--bg-opacity))
	overflow: hidden
	touch-action: none
	z-index: var(--overlay-z-index)

.drawer__content
	position: relative
	display: flex
	flex-direction: column
	gap: var(--gap)
	height: 100%
	width: 100%
	padding: var(--gap)
	background-color: #fff
	//transform: none
	box-shadow: 0 0 1rem -0.3rem var(--box-shadow)

	&::after
		content: ''
		position: absolute
		width: 40px
		height: 0
		left: calc(50% - 20px)
		border: 2px solid transparent
		border-radius: 2px

.rounded
	--radius: var(--border-radius-default)

.left
	margin-right: auto
	border-top-right-radius: var(--radius)
	border-bottom-right-radius: var(--radius)

	&.bordered
		border-left: none

.right
	margin-left: auto
	border-top-left-radius: var(--radius)
	border-bottom-left-radius: var(--radius)

	&.bordered
		border-right: none

.top
	margin-bottom: auto
	border-bottom-left-radius: var(--radius)
	border-bottom-right-radius: var(--radius)

	&::after
		bottom: 10px
		border-color: var(--border-color-default)

	&.bordered
		border-top: none

	.body
		flex-grow: 0

.bottom
	margin-top: auto
	border-top-left-radius: var(--radius)
	border-top-right-radius: var(--radius)

	&::after
		top: 10px
		border-color: var(--border-color-default)

	&.bordered
		border-bottom: none

.body
	overflow-y: auto
