@import "@/app/styles/mixins"
$social_width: 3rem

.navmenu__container
	width: 100%
	padding-left: 0 !important
	background-color: var(--white-color)

	+media-min(sm)
		width: 75%

	+media-min(md)
		width: 55%

	+media-min(lg)
		width: 45%

	+media-min(xl)
		width: 35%

.navmenu
	height: 100%
	padding-left: var(--modal-padding)
	padding-right: 0
	//var(--gap)
	overflow-y: auto
	direction: rtl

	> *
		direction: ltr

.navitems
	margin-right: calc($social_width + var(--gap) + 1rem)

.title
	line-height: 1.1
	font-weight: bold
	text-transform: uppercase
	font-size: clamp(1.6rem, 0.8rem + 1.2vw, 2.4rem)
	color: var(--navbar-link-color)

.subtitle
	font-family: var(--font-family-secondary), serif
	font-weight: 400
	font-size: 0.9em
	color: var(--text-color)


.socials
	position: fixed
	right: var(--modal-padding)
	top: 0
	width: $social_width
	height: 100%
	img
		z-index: 1

	> a
		+animation(socials, 800ms, zoom, 0, 0, 0, 0)
		animation-timing-function: cubic-bezier(0.1, 0, 0.8, 1)
		@keyframes wave
			0%
				transform: scale(0.3)
				opacity: 0

			30%
				opacity: 0.5

			100%
				transform: scale(1.7)
				opacity: 0

		&::before, &::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 50%
			animation: wave 1.8s both
			animation-timing-function: ease-in-out
			opacity: 0

		&::before
			background-color: var(--secondary-color)
			//animation-delay: 0.6s

		&::after
			background-color: var(--secondary-color)
			//animation-delay: 0.2s

		&:hover
			&::before
				animation: wave 1.8s infinite
				animation-delay: 0.4s
			&::after
				animation: wave 1.8s infinite
				animation-delay: 0.8s

.social__image__link
	+responsive-ratio(1, 1)
	box-sizing: content-box

.social__link
	@extend .social__image__link
	border: 3px solid var(--black-color)
	border-radius: 50%


.navbar__links
	width: 100%
	margin-top: auto
	margin-bottom: 1rem

	> *
		cursor: pointer

	> .policy
		color: var(--text-color)

.contact
	width: auto
	margin-bottom: 0.5rem
	color: var(--primary-color)
	font-weight: bold

	img
		height: var(--icon-size-xs) !important

	svg
		height: var(--icon-size-xs)

.copyright
	font-size: 0.8rem
	color: var(--text-color)
	padding-left: calc(var(--modal-padding) + var(--gap))
