:root {
	--media-primary-color: var(--white-color);
	--media-accent-color: var(--secondary-color);
}

::part(center) {
	--media-control-background: rgba(0,0,0, 0.5) !important;
}

::part(seek-backward), ::part(seek-forward) {
	display: none;
}
