@import "/src/app/styles/mixins"

.section
	.achievements
		background-color: #fff

	h2
		color: var(--primary-color)

	.diagram__container
		display: flex
		align-items: center
		justify-content: center
		position: relative
		width: 100%
		img
			max-width: 25%
			max-height: 25%
			object-fit: contain
			margin: auto

.stat__diagram, .chart
	//width: 80%
	max-width: 800px
	margin: auto
	overflow: visible

.stat__diagram
	margin-bottom: var(--gap)

	.orbits
		stroke: var(--grey-color)
		stroke-width: 0.7

	.ref__text
		opacity: 0

	.satellite__dot
		stroke-dashoffset: 100%
		stroke-dasharray: 100% 0
		transform-origin: center
		opacity: 0
		fill: var(--secondary-color)
		stroke: var(--secondary-color)
		stroke-width: 0.5

	.title
		color: var(--secondary-color)
		font-size: 0.7rem
		font-weight: bold

	.desc
		color: var(--white-color)
		font-size: 0.5em

.chart
	opacity: 0
	path
		stroke-linecap: round
		stroke-linejoin: round

	text
		font-size: 1rem
		opacity: 0

	.arc__path
		fill: none

	.ref__path
		stroke: dimgray
		stroke-width: 0.5

	.percent
		font-size: 1.1em
		color: var(--secondary-color)
		font-weight: bold

	.group
		font-size: 0.5em

