@import "/src/app/styles/mixins"

.container
	//align-items: center
	margin-bottom: var(--slider-controls-width)

.details
	flex: 0 0 auto
	// max-width: var(--paragraph-container-max-width)
	+media-min(sm)
		padding: 0 var(--slider-controls-width)

	.date
		margin-top: 0.5rem
		text-align: left
		color: var(--grey-color)
		font-weight: bold
