@import "/src/app/styles/mixins"

.container
	//align-items: center
	padding-bottom: var(--slider-controls-width)

.header
	display: inline-table
	flex: 1 !important

.details
	flex: 0 0 auto
	padding-bottom: calc(var(--gap) * 2)
	// max-width: var(--paragraph-container-max-width)
	+media-min(sm)
		padding: 0 var(--slider-controls-width) var(--page-padding)

	.date
		margin-top: 0.5rem
		text-align: left
		color: var(--grey-color)
		font-weight: bold


.cover__wrapper
	position: relative
	width: 100%
	height: 100%
	flex: auto
	margin-top: var(--gap)

	img
		object-fit: contain
