.container
	width: 100%
	height: 100%
	flex: auto

	.svg-map
		width: 100%
		height: auto
		stroke-width: 1
		>*
			opacity: 1
			transition: opacity 0.3s

		@media (orientation: portrait)
			height: 100%

	.zoomed >*:not(.zoomed__region)
		opacity: 0.5

.region
	fill: var(--grey-color)
	stroke: var(--white-color)
	stroke-width: 0.5

.city
	fill: var(--secondary-color)
	stroke: var(--white-color)

.occupied
	fill: var(--secondary-color)

.selected
	fill: var(--white-color)
	stroke: var(--black-color)
	stroke-width: 1

.zoomed__region
	//stroke: deepskyblue
	fill: var(--secondary-color)
	stroke-width: 2

	text
		font-weight: bold
		color: black

.next
	opacity: 1
.prev
	opacity: 1
